server:
  port: 8888
spring:
  cloud:
    config:
      discovery:
        enabled: true
      server:
        encrypt.enabled: false
        git:
          uri: https://github.com/ssheld/config-server-repo
          searchPaths: assetsservice,organizationservice,specialroutesservice,zuulservice,orgservice-new,authenticationservice

#Setting logging levels
logging:
  level:
    com.netflix: WARN
    org.springframework.web: WARN
    com.stephensheldon: DEBUG
